.men-hero{
    width: 100%;
    height: 80vh;
    background: url('https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?q=80&w=1600') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 80px;
}
.hero-overlay{
    background: rgba(255,255,255,0.9);
    padding: 40px;
    border-radius: 20px;
    max-width: 500px;
}
.hero-overlay h1{
    font-size: 60px;
    font-weight:700 ;
    color: #111827;
}
.hero-overlay p{
    font-size: 18px;
    color: #555;
    margin: 20px 0;
}
.hero-overlay .btn{
    padding: 12px 30px;
    border-radius: 30px;
}
body{
    background: linear-gradient(to right,#eef4ff,#f8fbff);
    font-family: 'Poppins', sans-serif;
}
.navbar{
    background: #fff !important;
    box-shadow: 0 2px 15px rgba(0,0,0,0.08);
}
.brand-name{
    color:#2563eb !important;
    font-weight:700;
}
.nav-link{
    color:#333 !important;
    transition:0.3s;
}
.nav-link:hover,
.nav-link.active{
    color:#2563eb !important;
}
.products-section{
    padding:60px 0;
}
.section-title{
    text-align:center;
    font-size:3rem;
    font-weight:700;
    margin-bottom:50px;
}
.section-title::after{
    content:"";
    display:block;
    width:120px;
    height:4px;
    background:#2563eb;
    margin:15px auto;
    border-radius:10px;
}
.card{
    border:none;
    border-radius:20px;
    overflow:hidden;
    transition:0.4s;
    margin-bottom:30px;
    background:#fff;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 15px 35px rgba(37,99,235,0.25) !important;
}
.card img{
    height:280px;
    object-fit:cover;
}
.card-body h5{
    font-weight:700;
    color:#111827;
}
.card-body p{
    color:#2563eb;
    font-size:22px;
    font-weight:700;
}
.btn-dark{
    background:#2563eb;
    border:none;
    border-radius:30px;
    padding:10px 25px;
    transition:0.3s;
}
.btn-dark:hover{
    background:#1d4ed8;
    transform:scale(1.05);
}
footer{
    background:#111827 !important;
}
footer h4,
footer h5{
    color:#fff;
}
footer a:hover{
    color:#2563eb !important;
}
footer p,
footer a{
    color:#b8c0cc !important;
}
.hero-banner{
    height: 80vh;
    background: url('https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?w=1600') center/cover no-repeat;
    background:url('https://images.unsplash.com/photo-1519345182560-3f2917c472ef?q=80&w=1600') center center/cover no-repeat;

    position: relative;
}
.hero-banner::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.3);
}
.hero-content{
    position: relative;
    z-index: 2;
    max-width: 550px;
    background: rgba(255,255,255,0.9);
    border-radius: 20px;
}
.hero-content h1{
    color: #111827;
}
.hero-content p{
    color: #4b5563;
}